.menu-button{
    background: none;
    border: 0;
    .fa{
        position: absolute;
        left: 15px;
        color: #000;
        z-index: 9999999;
    }
}
.burger-menu{
    &-list{
        background: #565251;
        padding: 20px;
        &-item{
            color: #FFF;
            display: flex;
            font-weight: bold;
           &-number{
                color: #6c6a6a;
                font-size: 18px;
            }
            &-name{
                margin-left: 20px;
                color: #FFF;
                text-transform: uppercase;
                background: none;
                border: 0;
                font-size: 14px;
                font-weight: bold;
                &:hover{
                    color: #34302f;
                    text-decoration: underline;
                }
            }
        }
    }
    &-title{
        background:#34302f;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 20px 10px;
        &-logo{
            width: 25%;
        }
        &-description{
            margin-left: 15px;
            font-size: 25px;
        }
        .menu-button{
            .fa{
                color: #FFF;
                position: static;
                margin-right: 10px;
            }
        }
    }
}